<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>100du</title>
<link rel="shortcut icon" href="images/ico_bg.ico" />
<link rel="stylesheet" href="css/main.css" />
<!--[if (IE 6)|(IE 7)|(IE 8)]>
<script>
document.createElement('header');
document.createElement('article');
document.createElement('section');
document.createElement('aside');
document.createElement('nav');
document.createElement('footer');
</script>
<![endif]-->
</head>

<body>
<header id="header" class="gradient">
    <p class="city fl">
    	切换城市：
    	<a class="active" href="javascript:;">北京</a>
        <a href="javascript:;">上海</a>
        <a href="javascript:;">福州</a>
        <a href="javascript:;">广州</a>
        <a href="javascript:;">青岛</a>
    </p>
    <p class="link fr">
    	<a href="javascript:;" class="ico1">加盟100度</a> | 
        <a href="javascript:;" class="ico2">店铺管理</a>
    </p>
</header>
<nav id="nav">
	<ul class="page1 clear">
    	<li>
        	<a href="#">
                <strong>美食</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>夜店</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>购物</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>文化</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>休闲</strong>
            </a>
        </li>
    </ul>
    <div class="logo">
        <a href="#">
        	<img src="images/logo_bg.png" />
        </a>
    </div>
    <ul class="page2 clear">
    	<li>
        	<a href="#">
                <strong>烧客空间</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>知道分子</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>白吃白拿</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>烧客论坛</strong>
            </a>
        </li>
        <li>
        	<a href="#">
                <strong>企业俱乐部</strong>
            </a>
        </li>
    </ul>
</nav>

<section id="search" class="gradient">
	<i class="note"></i>
    <ul class="menu">
    	<li class="active">搜店</li>
        <li class="gradient">地址</li>
        <li class="gradient">优惠卷</li>
        <li class="gradient">全文</li>
        <li class="gradient">视频</li>
    </ul>
	<section class="input">
    	<form action="#">
        	<input type="text" class="text" value="例如：荷棠鱼坊烤鱼 或 日本樱花料理" />
            <input type="submit" class="submit" value=" "/>
        </form>
        <p class="bar">
        	<a href="#">金钱豹</a>、
            <a href="#">大江南</a>、
            <a href="#">湘水之珠</a>、
            <a href="#">德瑀楼</a>、
            <a href="#">荷棠鱼坊烤鱼</a>、
            <a href="#">SOHO尚都</a>...
        </p>
    </section>
    <div class="up">
        <ul class="list">
            <li>
            	<a href="javascript:;">
                <em>萱萱</em>
                <span>5分钟前</span>
                写了一篇新文章：国台办回应王郁琦…
                </a>
            </li>
            <li>
           		<a href="javascript:;">
                <em>萱萱</em>
                <span>8分钟前</span>
                写了一篇88888888888回应王郁琦…
                </a>
            </li>
            <li>
                <a href="javascript:;">
                <em>萱萱</em>
                <span>18分钟前</span>
                写了6666688回应王郁琦…
                </a>
            </li>
            <li>
                <a href="javascript:;">
                <em>萱萱</em>
                <span>28分钟前</span>
                写了2333,表示听开森
                </a>
            </li>
        </ul>
        <a href="javascript:;" class="btn_up"></a>
        <a href="javascript:;" class="btn_down"></a>
    </div>
</section>

<section id="context" class="clear">
    <article id="main" class="fl">
        <section class="main_wrap clear">
        	<section class="videos section fl">
            	<strong>WHAT' HOT</strong>
                <div class="video"></div>
                <ul class="lis">
                	<li><a href="#">现场实录: 杭州机场国航系统崩溃</a></li>
                    <li><a href="#">网友自拍国航航班晚点后的遭遇</a></li>
                    <li><a href="#">[拍客] 绝对最奢侈的航班</a></li>
                </ul>
            </section>
            <section class="store option fr">
            	<ul class="op_nav">
                	<li class="active fl">
                    	<strong>
                        	HOT SHOP&nbsp;<span>红店铺</span>
                        </strong> 
                        <a class="btn_down"></a>
                    </li>
                    <li class="gradient fr">
                    	<strong>
                        	EW SHOP&nbsp;<span>新开张</span>
                        </strong> 
                        <a class="btn_down_c1"></a>
                    </li>
                </ul>
                <div class="op_con">
                    <ul class="page">
                        <li>
                            <a class="view" href="#">
                            	<img src="images/main/store_bg.png"/>
                            </a>
                            <em class="save"></em>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        御舟和涵珍园国际酒店
                                    </h3>
                                </a>
                                <p>区域省：朝阳/CBD</p>
                                <p>人均：180元</p>
                                <p>人气：12321</p>
                            </div>
                        </li>
                         <li>
                            <a class="view" href="#">
                            	<img src="images/main/store_bg.png"/>
                            </a>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        御舟和涵珍园国际酒店
                                    </h3>
                                </a>
                                <p>区域省：朝阳/CBD</p>
                                <p>人均：180元</p>
                                <p>人气：12321</p>
                            </div>
                        </li>
                         <li>
                            <a class="view" href="#">
                            	<img src="images/main/store_bg.png"/>
                            </a>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        御舟和涵珍园国际酒店
                                    </h3>
                                </a>
                                <p>区域省：朝阳/CBD</p>
                                <p>人均：180元</p>
                                <p>人气：12321</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="page" style="display:none;">
                        <li>
                            <a class="view" href="#">
                            	<img src="images/main/store_bg2.gif"/>
                            </a>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        御舟和涵珍园国际酒店
                                    </h3>
                                </a>
                                <p>区域省：朝阳/CBD</p>
                                <p>人均：180元</p>
                                <p>人气：12321</p>
                            </div>
                        </li>
                         <li>
                            <a class="view" href="#">
                            	<img src="images/main/store_bg2.gif"/>
                            </a>
                            <em class="save"></em>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        御舟和涵珍园国际酒店
                                    </h3>
                                </a>
                                <p>区域省：朝阳/CBD</p>
                                <p>人均：180元</p>
                                <p>人气：12321</p>
                            </div>
                        </li>
                         <li>
                            <a class="view" href="#">
                            	<img src="images/main/store_bg2.gif"/>
                            </a>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        御舟和涵珍园国际酒店
                                    </h3>
                                </a>
                                <p>区域省：朝阳/CBD</p>
                                <p>人均：180元</p>
                                <p>人气：12321</p>
                            </div>
                        </li>
                    </ul>
                    <em class="more"></em>
                </div>
            </section>
        </section>
        
        <div class="main_ad">
        	<a href="javascript:;">
            	<img src="images/main/main_ad_bg.png" />
            </a>
        </div>
        
        <section class="main_wrap clear">
        	<section class="luckyday section fl">
                <h2 class="day">2016.7</h2>
                <div class="con clear">
                    <img class="lucky_img" src="images/main/day_ico.gif" />
                    <div class="lucky_mes">
                        <strong>
                            <i class="gradient">07</i>
                            <i class="gradient">21</i>
                            本日主题XXXXXXX
                         </strong>
                         <p>
                            迟到的荣誉——维米尔的写实主义风俗画迟到的荣誉~虽然并不知道有多厉害,总归是厉害的~ 嗯~
                         </p>
                    </div>
                    <div class="calen">
                        <ul class="calen_title clear gradient">
                        	<li>MON</li>
                            <li>TUE</li>
                            <li>WED</li>
                            <li>THU</li>
                            <li>FRI</li>
                            <li>SAT</li>
                            <li>SUN</li>
                        </ul>
                        <div class="calen_con">
                        <ul class="clear">
                            <li class="f8">29</li>
                            <li class="f8">30</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>
                            	21<img src="images/main/calen_ico1.gif" />
                            </li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25
                            	<img src="images/main/calen_ico2.gif" />
                            </li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                            <li class="f8">1</li>
                            <li class="f8">2</li>
                            <li class="f8">3</li>
                            <li class="f8">4</li>
                            <li class="f8">5</li>
                            <li class="f8">6</li>
                            <li class="f8">7</li>
                            <li class="f8">8</li>
                            <li class="f8">9</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section fr">
            	<div class="recom">
                	<div class="view clear">
                    	<div class="page fl">
                        	<a href="#">
                            	<img id="recom_img" src="images/main/view_1.gif" />
                            </a>
                            <h3>爸爸去哪儿~</h3>
                        </div>
                        <div class="page_min fr">
                            <a href="javascript:;" class="active"><img src="images/main/view_1.gif" /></a>
                            <a href="javascript:;"><img src="images/main/view_2.gif" /></a>
                            <a href="javascript:;"><img src="images/main/view_3.gif" /></a>
                        </div>
                    </div>
                    <ul>
                    	<li class="li1">
                        <a href="#">老店换新颜，丰泽园野重张亮相...</a>
                        <span>00/10/11</span>
                        </li>
                        <li class="li2">
                        <a href="#">生活中哪些商品的包装有缺陷呢</a>
                        <span>00/10/11</span>
                        </li>
                       	<li class="li1">
                        <a href="#">老店换新颜，丰泽园野重张亮相...</a>
                        <span>00/10/11</span>
                        </li>
                        <li class="li2">
                        <a href="#">生活中哪些商品的包装有缺陷呢</a>
                        <span>00/10/11</span>
                        </li>
                        <li class="li1">
                        <a href="#">老店换新颜，丰泽园野重张亮相...</a>
                        <span>00/10/11</span>
                        </li>
                        <li class="li2">
                        <a href="#">生活中哪些商品的包装有缺陷呢</a>
                        <span>00/10/11</span>
                        </li>
                        <li class="li1">
                        <a href="#">老店换新颜，丰泽园野重张亮相...</a>
                        <span>00/10/11</span>
                        </li>
                        <li class="li1">
                        <a href="#">老店换新颜，丰泽园野重张亮相...</a> 
                        <span>00/10/11</span>	
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        
        <section class="main_wrap clear">
        	 <section class="live option fl">
            	<ul class="op_nav">
                	<li class="active fl">
                    	<strong>
                        	SUBWAY&nbsp;<span>地铁交通</span>
                        </strong> 
                        <a class="btn_down"></a>
                    </li>
                    <li class="gradient fr">
                    	<strong>
                        	MAP <span>生活圈</span>
                        </strong> 
                        <a class="btn_down_c1"></a>
                    </li>
                </ul>
                <div class="op_con">
                	<ul class="page">
                    	<li>
                        	<img src="images/main/traffic_bg.gif" />
                        </li>
                    </ul>
                    <ul class="page" style="display:none;">
                    	<li>
                        	<img src="images/main/traffic_bg2.jpg" />
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section fr">
            	<div class="bbs">
                	<div class="title">
                    	<strong>BBS <span>论坛</span></strong>
                        <a href="#"></a>
                    </div>
                    <ul class="bbs_lis">
                    	<li >
                        	<i>01</i>
                            <img src="images/main/bbs_lisBg.gif" />
                            <p>保你没见过的古怪餐厅</p>
                            <em>世说新语</em>
                            <b>ONE</b>
                        </li>
                        <li class="active">
                        	<i>02</i>
                            <img src="images/main/bbs_lisBg.gif" />
                            <p>保你没见过的古怪餐厅</p>
                            <em>世说新语</em>
                            <b>TWO</b>
                        </li>
                        <li>
                        	<i>03</i>
                            <img src="images/main/bbs_lisBg.gif" />
                            <p>保你没见过的古怪餐厅</p>
                            <em>世说新语</em>
                            <b>THREE</b>
                        </li>
                        <li>
                        	<i>04</i>
                            <img src="images/main/bbs_lisBg.gif" />
                            <p>保你没见过的古怪餐厅</p>
                            <em>世说新语</em>
                            <b>FOUR</b>
                        </li>
                        <li>
                        	<i>05</i>
                            <img src="images/main/bbs_lisBg.gif" />
                            <p>保你没见过的古怪餐厅</p>
                            <em>世说新语</em>
                            <b>FIVE</b>
                        </li>
                        <li>
                        	<i>06</i>
                            <img src="images/main/bbs_lisBg.gif" />
                            <p>保你没见过的古怪餐厅</p>
                            <em>世说新语</em>
                            <b>SIX</b>
                        </li>
                        <li>
                        	<i>07</i>
                            <img src="images/main/bbs_lisBg.gif" />
                            <p>保你没见过的古怪餐厅</p>
                            <em>世说新语</em>
                            <b>SEVENT</b>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
        
        <div class="main_ad">
        	<a href="javascript:;">
            	<img src="images/main/main_ad_bg.png" />
            </a>
        </div>
        
        <section class="main_wrap clear">
        	<section class="section fl">
            	<div class="title">
                    	<strong>
                        	LIFESTYLE ADVICE&nbsp;<span>知道分子</span>
                            <a href="#"></a>
                        </strong>
                </div>
                <div class="lifestyle">
                	<div class="lis_nav">
                        <ul class="clear">
                            <li class="active">
                                有人在问<a href="#" class="btn_down"></a>
                            </li>
                            <li class="gradient">
                                有人知道<a href="#" class="btn_down_c1"></a>
                            </li>
                            <li class="gradient">
                                热门问题<a href="#" class="btn_down_c1"></a>
                            </li>
                        </ul>
                	</div>
                <div class="lis_title">
                	<span class="con1">标题</span>
                    <span class="con2">状态</span>
                </div>
                <ul class="lis2">
                	<li>
                    	<span class="con1">
                        	[<a href="#">美食</a>]
                        </span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con4"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con4"></span>
                    </li>
                </ul>
                <ul class="lis2"  style="display:none;">
                	<li>
                    	<span class="con1">
                        	[<a href="#">美食</a>]
                        </span>
                    	<a href="#" class="con2">推荐几22价比比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐22比比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几222冰箱</a>
                    	<span class="con4"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con4"></span>
                    </li>
                </ul>
                <ul class="lis2" style="display:none;">
                	<li>
                    	<span class="con1">
                        	[<a href="#">美食</a>]
                        </span>
                    	<a href="#" class="con2">推荐3333比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几333好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几33较好的冰箱</a>
                    	<span class="con4"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con3"></span>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">推荐几款性价比比较好的冰箱</a>
                    	<span class="con4"></span>
                    </li>
                </ul>
                <div class="seek">
                	<form action="#">
                    	<strong>搜搜谁知道：</strong>
                        <input type="text" value="输入关键字" class="text" />
                        <input type="submit" value=" " class="sub"/>
                    </form>
                </div>
                </div>
            </section>
            <section class="section fr">
            	<div class="title">
                    	<strong>
                        	HOT&nbsp;<span>红人烧客</span>
                            <a href="#"></a>
                        </strong>
                </div>
                <div class="web_hot clear">
                	<img src="images/main/hot2.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot4.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot3.gif" />
                    <img src="images/main/hot3.gif" />
                    <div class="hot_cover">
                    	<p>用户名:</p>
                        <p>区域:</p>
                        <p>人气:</p>
                    </div>
                    <div class="hot_mes">
                    	换退化的方式兼容,支持css3就完美显示,不支持就退化显示
                    </div>
                </div>
            </section>
        </section>
        <section class="main_wrap clear">
        	<section class="section fl">
            	<div class="title">
                    	<strong>
                        	HELP&nbsp;<span>在线帮助</span>
                        </strong>
                </div>
                <div class="help">
                	<div class="way">
                    	<h3>您有任何问题，都可以通过全国免费电话，或MSN在线客服与我们联系！</h3>
                        <img src="images/main/help_bg.gif" />
                    </div>
                    <div class="readme clear">
                    	<dl class="lis fl">
                        	<dt>用户帮助</dt>
                            <dd><a href="#">金币是什么</a></dd>
                            <dd><a href="#">怎么查看我的等级</a></dd>
                            <dd><a href="#">怎么赚积分</a></dd>
                        </dl>
                        <dl class="lis fr">
                        	<dt>用户帮助</dt>
                            <dd><a href="#">金币是什么</a></dd>
                            <dd><a href="#">怎么查看我的等级</a></dd>
                            <dd><a href="#">怎么赚积分</a></dd>
                        </dl>
                    </div>
                </div>
            </section>
            <section class="section fr">
            	<div class="title">
                    	<strong>
                        	100DU IN THE MEDIA&nbsp;<span>媒体声音</span>
                            <a href="#"></a>
                        </strong>
                </div>
                <div class="media">
                	<img src="images/main/media_bg.gif" />
                </div>
            </section>
        </section>
    </article>
    
    <aside id="aside" class="fr">
        <section class="load_page">
        <div class="title gradient">
        	<strong>
                    LOAD&nbsp;<span>登录</span>
             </strong>
         </div>
         <div class="load">
         	<form action="#">
            	<div>
                	<span>用户名：</span>
                	<input type="text" class="text" />
                    <input type="checkbox" value="" class="check" />
                    <span>记住我</span>
                </div>
                <div>
                	<span>密 码：</span>
                	<input type="password" class="text" />
                    <input type="submit" class="sub" value=" " />
                </div>
            </form>
            <ul class="lis clear">
            	<li><a href="#">新用户注册</a></li>
                <li><a href="#">忘记密码了</a></li>
            </ul>
         </div>
        </section>
        <div class="aside_ad">
        	<a>
            	<img src="images/aside_ad_bg1.png"/>
            </a>
        </div>
        <div class="aside_ad">
        	<a>
            	<img src="images/aside_ad_bg2.png"/>
            </a>
        </div>
        <section class="aside_wrap">
        	<div class="title">
                <strong>
                    COUPONS&nbsp;<span>抢卷儿</span>
                    <a href="#"></a>
                </strong>
             </div>
             <div class="coupons">
             	<div class="lis_nav">
                    <ul class="clear">
                        <li class="active">
                            人气<a href="#" class="btn_down"></a>
                        </li>
                        <li class="gradient">
                        	推荐<a href="#" class="btn_down_c1"></a>
                        </li>
                        <li class="gradient">
                        	最新<a href="#" class="btn_down_c1"></a>
                        </li>
                    </ul>
                </div>
                <div class="lis_title">
                	<span class="con1">商品名</span>
                    <span class="con2">省</span>
                    <span class="con2">打印</span>
                </div>
                <ul class="lis">
                	<li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                </ul>
                <ul class="lis" style="display:none;">
                	<li>
                    	<a href="#" class="con1">推荐皇牛~</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老推荐皇牛~</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">推荐皇牛~一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                </ul>
                <ul class="lis" style="display:none;">
                	<li>
                    	<a href="#" class="con1">老北京三尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老三~~</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                    <li>
                    	<a href="#" class="con1">老北京一尊皇牛</a>
                    	<span class="con2">12%</span>
                    	<span class="con3">345</span>
                    </li>
                </ul>
             </div>
        </section>
        <section class="aside_wrap">
        	<div class="title">
                <strong>
                    SHOP&nbsp;<span>今日推荐</span>
                    <a href="#"></a>
                </strong>
             </div>
             <div class="today">
             	<ul class="page">
                        <li>
                            <a class="view" href="#">
                            	<img src="images/aside/aside-1.gif" />
                            </a>
                            <em class="save"></em>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        汉莱国际美食百汇
                                    </h3>
                                </a>
                                <p>口味：创意中餐</p>
                                <p>区域：朝阳/DBD</p>
                            </div>
                        </li>
                        <li>
                            <a class="view" href="#">
                            	<img src="images/aside/aside-1.gif" />
                            </a>
                            <em class="save"></em>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        汉莱国际美食百汇
                                    </h3>
                                </a>
                                <p>口味：创意中餐</p>
                                <p>区域：朝阳/DBD</p>
                            </div>
                        </li>
                        <li>
                            <a class="view" href="#">
                            	<img src="images/aside/aside-1.gif" />
                            </a>
                            <em class="save"></em>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        汉莱国际美食百汇
                                    </h3>
                                </a>
                                <p>口味：创意中餐</p>
                                <p>区域：朝阳/DBD</p>
                            </div>
                        </li>
                        <li>
                            <a class="view" href="#">
                            	<img src="images/aside/aside-1.gif" />
                            </a>
                            <em class="save"></em>
                            <div class="mes">
                            	<a href="#">
                                    <h3>
                                        汉莱国际美食百汇
                                    </h3>
                                </a>
                                <p>口味：创意中餐</p>
                                <p>区域：朝阳/DBD</p>
                            </div>
                        </li>
                 </ul>
             </div>
        </section>
        <section class="aside_wrap">
        	<div class="title">
                <strong>
                    360° SHOP&nbsp;<span>全景逛店</span>
                    <a href="#"></a>
                </strong>
             </div>
             <div class="prm">
             	<img src="images/aside/360_bg.gif" />
                <p>苹果雪梨排骨汤</p>
             </div>
        </section>
        <section class="aside_wrap">
        	<div class="title">
                <strong>
                    SHOP&nbsp;<span>折扣店</span>
                    <a href="#"></a>
                </strong>
             </div>
             <div class="rebate">
                <ul class="page clear">
                    <li>
                        <a class="view" href="#">
                            <img src="images/aside/aside-1.gif" />
                        </a>
                        <em class="save"></em>
                        <div class="mes">
                            <a href="#">
                                <h3>
                                    汉莱国际美食百汇
                                </h3>
                            </a>
                            <p>口味：创意中餐</p>
                            <p>区域：朝阳/DBD</p>
                        </div>
                    </li>
                </ul>
                <ul class="lis2">
                	<li>
                    	<span class="con1">
                        	[<a href="#">休闲</a>]
                        </span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">休闲</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">购物</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                </ul>
              </div>
        </section>
        <section class="aside_wrap">
        	<div class="title">
                <strong>
                    COUPONS&nbsp;<span>最新加盟</span>
                    <a href="#"></a>
                </strong>
             </div>
             <div class="league">
             	<ul class="page clear">
                    <li class="fl">
                        <a class="view" href="#">
                            <img src="images/aside/aside-1.gif" />
                        </a>
                        <div class="mes">
                            <a href="#">
                                <h3>
                                    汉莱国际美食百汇
                                </h3>
                            </a>
                            <p>口味：创意中餐</p>
                            <p>区域：朝阳/DBD</p>
                        </div>
                    </li>
                    <li class="fl">
                        <a class="view" href="#">
                            <img src="images/aside/aside-1.gif" />
                        </a>
                        <div class="mes">
                            <a href="#">
                                <h3>
                                    汉莱国际美食百汇
                                </h3>
                            </a>
                            <p>口味：创意中餐</p>
                            <p>区域：朝阳/DBD</p>
                        </div>
                    </li>
                </ul>
                
                <ul class="lis2">
                	<li>
                    	<span class="con1">
                        	[<a href="#">休闲</a>]
                        </span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">休闲</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">购物</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                    <li>
                    	<span class="con1">[<a href="#">美食</a>]</span>
                    	<a href="#" class="con2">瀚茶缘(雍和宫店)</a>
                    </li>
                </ul>
             </div>
        </section>
    </aside>
</section>

<footer id="footer" class="gradient">
	<div class="tab">
    	<a href="javascript:;">关于我们</a>
        <a href="javascript:;">联系我们</a>
        <a href="javascript:;">版权声明</a>
        <a href="javascript:;">加入我们</a>
        <a href="javascript:;">问题反馈</a>
        <a href="javascript:;">友情链接</a>
        <a href="javascript:;">网站地图</a>
        <a href="javascript:;">视频索引</a>
    </div>
    <p>Copyright © 2008 www.100du.com 100度享乐网 版权所有 京ICP证0843234号</p>
</footer>

<script src="js/main.js"></script>
</body>
</html>





















