<!doctype html>
<html data-use-rem="640">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no,maximum-scale=1.0"/>
<title>无标题文档</title>
<link rel="stylesheet" href="css/index.css" />
</head>

<body>
<section class="page pageShow" id="home">
	<div class="logo">
    	<img src="img/tree.jpg" />
        <div class="title">
        	<img src="img/title.png"/>
            <span class="signal"></span>
        </div>
        <img class="title2" src="img/title2.png" />
        <span class="cloud"></span>
        <span class="cloud"></span>
        <span class="cloud"></span>
    </div>
   	<div class="foot">
    	<img src="img/foot.png" />
    </div>
</section>
<section class="page" id="score">
	<section class="tab">
    	<ul class="tab_pic">
        	<li><img src="img/1.jpg"/></li>
            <li><img src="img/2.jpg"/></li>
            <li><img src="img/3.jpg"/></li>
            <li><img src="img/4.jpg"/></li>
            <li><img src="img/5.jpg"/></li>
        </ul>
        <div class="tab_mask">
        	<p>成都九寨沟景区</p>
        	<div class="tab_nav">
            	<a href="javascript:;" class="active"></a>
                <a href="javascript:;"></a>
                <a href="javascript:;"></a>
                <a href="javascript:;"></a>
                <a href="javascript:;"></a>
            </div>
        </div>
    </section>
    <section class="scoreList">
    	<h2>给景区评分</h2>
        <ul>
        	<li>
            	<span>综合印象</span>
                <div class="star">
                	<a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                </div>
            </li>
            <li>
            	<span>服务指数</span>
                <div class="star">
                	<a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                </div>
            </li>
            <li>
            	<span>消费指数</span>
                <div class="star">
                	<a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                </div>
            </li>
        </ul>
    </section>
    <section class="tagList">
    	<h2>给景区添加标签</h2>
       	<label>
        	<input type="radio" name="tagList" />
            <span>服务好</span>
        </label>
        <label>
        	<input type="radio" name="tagList" />
            <span>景色赞</span>
        </label>
        <label>
        	<input type="radio" name="tagList" />
            <span>千篇一律</span>
        </label>
        <label>
        	<input type="radio"  name="tagList" />
            <span>看人海</span>
        </label>
        <label>
        	<input type="radio" name="tagList"  />
            <span>挤爆了</span>
        </label>
        <label>
        	<input type="radio" name="tagList"  />
            <span>第二次</span>
        </label>
        <label>
        	<input type="radio" name="tagList"  />
           	<span>景色不好</span>
        </label>
        <label>
        	<input type="radio" name="tagList"  />
            <span>悔当初</span>
        </label>
        <label>
        	<input type="radio" name="tagList"  />
            <span>吃吃吃</span>
        </label>
        <label>
        	<input type="radio" name="tagList"  />
           	<span>空气不错</span>
        </label>
        <label>
        	<input type="radio" name="tagList"  />
            <span>恩恩恩</span>
        </label>
    </section>
    <p class="info"></p>
    <input type="button" value="提交" class="btn sub" />
 </section>
<section class="page" id="mask"></section>
<section class="page" id="news">
	<img class="nTitle" src="img/news.png" />
    <h2>请上传旅游投诉以及突发事件线索</h2>
    <section class="nLoad">
    	<label>
        	<input type="file" data-file="video" data-type="视频" />
            <p>导入视频</p>
        </label>
        <label>
        	<input type="file" data-file="image" data-type="图片"/>
            <p>上传照片</p>
        </label>
    </section>
    <p class="info"></p>
</section>
<section class="page" id="newsScore">
	<section class="nTags">
    	<h2></h2>
        <label>
        	<input type="radio" name="nTags" />
            <span>服务好</span>
        </label>
        <label>
        	<input type="radio" name="nTags" />
            <span>景色赞</span>
        </label>
        <label>
        	<input type="radio" name="nTags" />
            <span>千篇一律</span>
        </label>
        <label>
        	<input type="radio"  name="nTags" />
            <span>看人海</span>
        </label>
        <label>
        	<input type="radio" name="nTags"  />
           	<span>景色不好</span>
        </label>
        <label>
        	<input type="radio" name="nTags"  />
            <span>悔当初</span>
        </label>
        <label>
        	<input type="radio" name="nTags"  />
            <span>吃吃吃</span>
        </label>
        <label>
        	<input type="radio" name="nTags"  />
            <span>嗷嗷嗷</span>
        </label>
    </section>
    <textarea class="nInput" placeholder="(选填:说点什么呢~)" rows="5"></textarea>
    <input type="tel" class="nInput" placeholder="(选填:联系电话)" />
    <input type="button" value="上传" class="btn" />
</section>
<section class="page" id="succeed">
	<div class="logo">
    	<img src="img/tree.jpg" />
        <img class="title3" src="img/tranks2.png" />
        <span class="cloud"></span>
        <span class="cloud"></span>
        <span class="cloud"></span>
    </div>
   	<input type="button" value="重新评价" class="btn sub" />
</section>
<script src="js/index.js"></script>
</body>
</html>
